<h1>Mother of Horus Shelters</h1>

<ul>
    {{#each shelters}}
        <li>
            <a href="/shelters/{{_id}}">{{shelterName}}</a>
        </li>
    {{/each}}
    
</ul>

<a href="/shelters/new">Add New Shelter</a>

<a href="/users/">Sign Out</a>
