<div class="new-container
">
  {{!-- <div>
    <h2>Add a New Shelter</h2>
  </div> --}}

  <div class="new-form-center">
    <form method="POST" action="/shelters">

      <div>
        <label for="shelterName">Name of Shelter</label>
        <input type="text" name="shelterName">
      </div>

      <div>
        <label for="streetName">Street Name</label>
        <input type="text" name="streetName">
      </div>

      <div>
        <label for="city">City</label>
        <input type="text" name="city">
      </div>
      
      <div>
        <label for="state">State</label>
        <input type="text" name="state">
      </div>


      <div>
        <label for="image">Image</label>
        <input type="text" name="shelterImage">
      </div>

      <a href="/shelters">Cancel</a>
      <button class="submit" type="submit">Add Shelter</button>
    </form>
  </div>
</div>

{{!-- addressNumber: Number, streetName: String, state: String, city: String, children: [Array] --}}