{{!-- extends layout

block content
  h1= title
  p Welcome to #{title} --}}


{{!-- <p>Welcome to {{title}}</p> --}}

{{!-- HEADER/ NAV --}}

  {{!-- <div class="container"> 
    <div>
      <h1 class="main-nav-title">{{title}}</h1>
    </div>
  </div> --}}



{{!-- MAIN BODY --}}

<div class="main-body">
  <div></div><div class="main-box-center">
  </div>
  <div class="main-text-center">
      
      <div class="main-box-title-center">
        <div class="main-box-title">
          <h2>Mother of Horus</h2>
        </div>
      </div>
    
      <div class="main-message">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus provident veritatis culpa aliquid dolorum, nobis aperiam quas ratione quae deleniti consectetur doloribus quaerat quo numquam corrupti exercitationem repellat asperiores ullam!</p>  
      </div>  
      
      <div class="main-box-login">
        <div class="main-box-login-center">
          <a href="users/"><button class="btn btn-default">Enter</button></a>
        </div>
      </div>
    
    </div>

</div>




