{{!-- extends layout

block content
  h1= title
  p Welcome to #{title} --}}


{{!-- <p>Welcome to {{title}}</p> --}}

{{!-- HEADER/ NAV --}}
<nav>
  <div class="container">
    <div class="col-md">
       <h1 class="main-nav-title">{{title}}</h1>
    </div>

  </div>
</nav>


{{!-- MAIN BODY --}}

<div class="main-body">
  <div class="main-box-center">
    
    <div class="main-text-center">
      
      <div class="main-box-title">
        <h2>Mother of Horus</h2>
      </div>
    
      <div class="main-message">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus provident veritatis culpa aliquid dolorum, nobis aperiam quas ratione quae deleniti consectetur doloribus quaerat quo numquam corrupti exercitationem repellat asperiores ullam!</p>  
      </div>  
      
      <div class="main-box-login">
        <div class="main-box-login-center">
          <a href="users/"><button>Login</button></a>
        </div>
      </div>
    
    </div>

  </div>

</div>




