{{!-- extends layout

block content
  h1= title
  p Welcome to #{title} --}}


{{!-- <p>Welcome to {{title}}</p> --}}

{{!-- HEADER/ NAV --}}
<nav>
  <div class="container">
    <div class="col-md">
       <h1 class="main-title">{{title}}</h1>
    </div>

  </div>
</nav>


{{!-- MAIN BODY --}}

<div class="main-body">
  <div class="main-box-center">
    <h2>Mother of Horus</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus provident veritatis culpa aliquid dolorum, nobis aperiam quas ratione quae deleniti consectetur doloribus quaerat quo numquam corrupti exercitationem repellat asperiores ullam!</p>
  </div>

</div>



<a href="users/">Login</a>
