<h1>User login</h1>

<ul>
    {{#each users}}
        <li>
            <a href="/users/{{_id}}">{{name}}</a>
        </li>
    {{/each}}
</ul>

<div>
    <label for="email">Email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="password">
  </div>

  <div>
      <a href="/shelters">
      <button>submit</button>
      </a>
  </div>

    <div>
      <a href="/">
      <button>back to home page</button>
      </a>
  </div>